/* src/pages/HomePage.css */
.home-page {
    font-family: Arial, sans-serif;
    padding: 1rem;
  }
  
  /* src/pages/PropertiesPage.css */
  .properties-page {
    font-family: Arial, sans-serif;
    padding: 1rem;
  }
  
  /* src/pages/ContactPage.css */
  .contact-page {
    font-family: Arial, sans-serif;
    padding: 1rem;
  }
  